* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 14px;
  background-color: #7159c1;
}

div {
  display: flex;
  width: 100%;
  margin: 5px;
  padding: 5px;
}

#main{
  display: flex;
  flex-direction: column;
  align-items: center;
}
#main-list{
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

button {
  background: #04d361;
  color: #fff;
  border: 0;
  padding: 10px 15px;
  cursor: pointer;
  margin-top: 15px;
  font-weight: bold;
  font-size: 14px;
  width: calc(100%);
}

input {
  font-size: medium;
  font-weight: bold;
  padding: 7px;
  border: 0;
}
a {
  text-decoration: none;
  color: #000;
  font-weight: 900;
  font-size: larger;
}
div div .btRemove,
div div .btLike {
  height: 40px;
  margin: 0;
}
div div .btRemove {
  background: #ca4949;
}

div div .btLike {
  background: #ca0;
}

form div{
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  flex-direction: column;
  width: calc(500px - 40px);
}

form button{
  width: calc(500px - 40px);
}

form {
  display: grid;
  justify-items: center;
  align-content: center;
  width: 500px;
}

#form-techs-container{
  flex-wrap: wrap;
  flex-direction: row;
  align-content: center;
}

#form-techs{
  width: fit-content;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: 15px;
  margin: 5px 10px 5px 0px;
  background-color: #04d361;
  padding: 8px 10px;
}

#RepositoryItems{
  flex-direction: column;
  background-color: #fff;
  margin-bottom: 10px;
  padding: 10px 20px;
  color: #000;
  width: 500px;
  justify-content: space-between;
}
#RepositoryItems div{
  font-weight: bold;
}
#RepositoryItems-title{
  font-size: 20px;
  justify-content: center;
}
#listInfo{
  min-width: 300px;
  max-width: 300px;
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
  width: 300px;
}
#listTechs{
  display: flex;
  max-width: 100%;
  align-items: center;
  flex-wrap: wrap;
  margin: 7px 0px;
  padding: 0;
}
#divTechs{
  background-color: #04d361;
  color: #fff;
  padding: 5px 8px;
  width: auto;
  margin: 3px;
}

#divButtons{
  width: "100%";
  margin: 0;
  display: flex;
  justify-content: space-between;
}

#form-techs:hover{
  cursor: pointer;
  background-color: #ca4949
}
